body{
	margin : auto;
	margin-top: 0;
	min-width: 500px;
}

header{
	position: relative;
	background-image: url('https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg');
	background-position: center top;
	background-size: 1600px 720px;
	color: white;
	height: 450px;

}

h1{
	margin-top: 0px;
}

nav{
	max-width: 450px;
	margin: auto;
	padding-top: 30px;
	width: 50%;
}

nav span{
	margin-right: 10px;
}

nav a{
	color: white;
	text-decoration: none;
}

#name{
	text-align: center;
	font-size: 30px;
	margin : auto;
	margin-top: 150px;
	font-weight: bolder;
}

#logo-container{
	max-width: 345px;
	margin: auto;
	margin-top: 30px;

}

.logo{
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0px 20px;
	border-radius: 50%;
}

.logo img{
	position: relative;
	top: 3px;
	left: 2.5px;
	height: 20px;
	width: 20px;
}

.logo:hover{
	box-shadow: 0px 0px 10px 10px gray;
}

#about{
	position: relative;
	top: -100px;
	margin: auto;
	color: black;
	width: 75%;
}

#about img{
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;	
	border-radius: 50%;
}

#about p{
	margin-top: 50px;
	color: gray;
	font-family: sans-serif;
	line-height: 25px;
	text-align: justify;
}

#about p b{
	margin-top: 50px;
	color: gray;
	color: darkblue
}


.main-container{
	position: relative;
	top: -70px;
	margin: auto;
}

#skill{
	background-color: lightgrey;
	margin: auto;
	padding-bottom: 50px;
}

#skill h1{
	padding-top: 50px;
	color: darkblue;
	text-align: center;
	margin-bottom: 100px;
}

#skill i{
	margin-right: 10px;
}

#skill-logo-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 75%;
	margin:auto;
}

.skill-show-container{
	width: 200px;
	height: 50px;
	border: 1px solid black;
	margin: 25px;
	border-radius: 25px;
}

#java{
	box-sizing: border-box;
	font-size: 20px;
	font-family: sans-serif;
	width: 50%;
	height: inherit;
	background-color: #2857a4;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#html{
	box-sizing: border-box;
	font-size: 20px;
	width: 85%;
	height: inherit;
	background-color: #ec4d1c;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#css{
	box-sizing: border-box;
	font-size: 20px;
	font-family: sans-serif;
	width: 80%;
	height: inherit;
	background-color: #93738c;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#javascript{
	box-sizing: border-box;
	font-size: 20px;
	width: 50%;
	height: inherit;
	background-color: #0b8176;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#nodejs{
	box-sizing: border-box;
	font-size: 20px;
	font-family: sans-serif;
	width: 50%;
	height: inherit;
	background-color: #2857a4;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#mongodb{
	box-sizing: border-box;
	font-size: 20px;
	width: 80%;
	height: inherit;
	background-color: #93738c;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
}

#work-experience{
	margin: auto;
	padding-bottom: 50px;
}

#work-experience h1{
	padding-top: 50px;
	color: darkblue;
	text-align: center;
	margin-bottom: 100px;
}

#work-experience i{
	margin-right: 10px;
}


#work-experience-container{
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: auto;
}

.img-jobs{
	display: flex;
	justify-content: space-between;
}
.details img{
	width: 50px;
	height: 50px;
}

.jobs-profile{
	font-size: 25px;
	font-weight: bolder;
	font-family: sans-serif;
	color: darkblue;
	text-align: right;
}

.jobs-company{
	font-size: 18px;
	font-family: sans-serif;
	color: #eb822d;
	text-align: right;
}

.jobs-year{
	font-size: 15px;
	font-family: sans-serif;
	color: grey;
	text-align: right;
}

.content{
	width: 45%;
}

.about-details{
	text-align: justify;
	font-family: sans-serif;
	padding: 30px 0px;
	color: grey;
}

.content2{
	align-self: flex-end;
}

#education{
	color: black;
	margin: auto;
	background-color: lightgrey;
	padding-bottom: 50px;
}

#education h1{
	padding-top: 50px;
	color: darkblue;
	text-align: center;
	margin-bottom: 100px;
}

#education i{
	margin-right: 10px;
}


#education-container{
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.img-education{
	display: flex;
	justify-content: space-between;
}
.details img{
	width: 50px;
	height: 50px;
}

.education-profile{
	font-size: 25px;
	font-weight: bolder;
	font-family: sans-serif;
	color: darkblue;
	text-align: right;
}

.education-company{
	font-size: 18px;
	font-family: sans-serif;
	color: #eb822d;
	text-align: right;
}

.education-year{
	font-size: 15px;
	font-family: sans-serif;
	color: grey;
	text-align: right;
}


#portfolio>h1{
	padding-top: 50px;
	color: darkblue;
	text-align: center;
	margin-bottom: 100px;
}

#portfolio-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	width: 75%;
}

.portf-container{
	transition: all 0.5s ease-in-out;
	position: relative;
	overflow: hidden;
	height: 270px;
	width: 270px;
	margin: 30px;
	background-size: cover;
}

.portf-container img{
	height: 100%;
	width: 100%;
}

.portf-container:hover{
    box-shadow: 0 0 20px #74ADC8;
}

.portf-container h1{
	color: white;
	text-align: center;
	position: absolute;
	top: 0;
	padding-top: 30px;
	height: 270px;
	width: 270px;
	display: none;
	font-weight: normal;
    font-family: sans-serif;
	margin-bottom: 0px;
}

.portf-container:hover h1{
	background-color: #80808078;
	display: block;
}


#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



/* Common Margin Classes */

.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

.mb50px {
    margin-bottom: 50px;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

#timeline-divider1 {
    position: absolute;
    width: 0;
    top: 18.5%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 11%;
    color: #433E3F;
}

#timeline-divider1 .timeline-traveller1 {
    position: sticky;
    top: 18.5px;
    z-index: 2;
}

#timeline-divider1 i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 41%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 11%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}